<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <button (click)="changeTitle()" [disabled]="isLoading">{{isLoading ? "Carregando..." : "Teste"}}</button>
    <input type="text" [(ngModel)]="newListName">
    <p>{{newListName}}</p>
    <button (click)="createList(newListName)" [disabled]="newListName.trim() == ''">Criar Lista</button>
    @if(isLoading) {
      <p>Aguarde</p>
    }
    @for (item of shoppingLists; track item.id) {
      <p>{{item.name}}</p>
      <button (click)="removeListItem(item.id)">Remover</button>
    }
    @empty {
      “Você ainda não tem listas”
    }
  </div>
</ion-content>
